<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="URL" value="https://sandbox.evernote.com/shard/s1/notestore"/>
    <add key="contentClass" value="jasonsherron.readonly"/>
    <add key="readOnlyTag" value="ReadOnly"/>
    <add key="authToken" value="S=s1:U=90a30:E=153e3c3aab4:C=14c8c127c60:P=1cd:A=en-devtoken:V=2:H=d8d13e0d201c83db041872b2f5a9f691"/>
  </appSettings>
</configuration>