<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- change this to production value -->
    <!-- production value will differ; will be provided when you create the auth token -->
    <add key="URL" value="https://sandbox.evernote.com/shard/s1/notestore"/>
    <!-- change this to something unique to you-->
    <add key="contentClass" value="jasonsherron.readonly"/>
    <!-- this is the tag text that indicates a note should be set to R/O-->
    <add key="readOnlyTag" value="ReadOnly"/>
    <!-- this is your private auth token from Evernote-->
    <!-- see https://www.evernote.com/api/DeveloperToken.action -->
    <add key="authToken" value="S=s1:U=90a30:E=153e7f7bc72:C=14c90468d08:P=1cd:A=en-devtoken:V=2:H=29cd7c6b5c7b13aa0f0ca4c7c9c64126"/>
  </appSettings>
</configuration>